.box-container{
    position: relative;
    border: 5px solid transparent;
    border-color: black;
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

.box-container.focused{
}

.container{
    height: 100%;
    width: 100%;
}